{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>{{character.name}}</h2>
            <h4>
                {% if character.alive %}
                    This character is still kickin'
                {% else %}
                    This character is dead.
                {% endif %}
            </h4>
            <h4>This character is in house {{character.house}}</h4>
            {% if character.owner == userId %}
                <div class="btn-group">
                    {%- comment -%} first button will send us to the edit page {%- endcomment -%}
                    <a class="btn btn-primary" href="/characters/edit/{{character.id}}">Edit</a>
                    {%- comment -%} the second button(which will actually be a form, will send a DELETE request) {%- endcomment -%}
                    <form action="/characters/{{character.id}}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            {% endif %}
        </article>
        <hr>
        <h4>Patronus</h4>
        <hr>
        {% if loggedIn %}
            <div class="col-md-6">
                <form action="/patronus/{{character.id}}" method="POST">
                    <fieldset>
                        <legend>Add Patronus</legend>
                        <label class="form-label">patronus:</label>
                        <input class="form-control mb-1" type="text" placeholder="pick the patronus..." name="creature" required>
                    </fieldset>
                    <input class="btn btn-success" type="submit" value="Add Patronus">
                </form>
            </div>
        {% else %}
            <div class="col-md-6">
                <small>If you'd like to create a patronus, please log in...</small>
            </div>
        {% endif %}
        <hr>
        {% if character.patronus.length > 0 %}
            <div class="container-sm justify-content-center">
                <div class="col-md-8 col-lg-6">
                    {% for patronus in character.patronus %}
                        {% render '../patronus.liquid', patronus: patronus, userId: userId, character: character %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <small>no patronus yet...</small>
        {% endif %}
    </div>
{% endblock %}